/* Signup.css */
.signup-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.signup-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 3px solid #ddd;
}

.signup-logo {
  max-width: 200px; /* 로고 크기 제한 */
  width: auto;
  height: auto;
  cursor: pointer;
}

.signup-box {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 400px;
  max-width: 90%;
  margin: 5px auto;
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: 
          linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
          url("../../../images/LoginBackground.jpg");
  background-size: cover;       
  background-repeat: no-repeat;
  background-position: center center;
}

.signup-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .signup-page h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff; /* 제목 텍스트 색상 */
  }
  
  .signup-page form {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center;
  }
  
  .signup-page label {
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
    color: #fff; /* 레이블 텍스트 색상 */
    width: 100%; /* 입력 필드와 동일한 너비 */
  }
  
  .signup-page input {
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd; /* 입력 필드 테두리 */
    border-radius: 4px; /* 입력 필드 모서리 둥글게 */
    width: 100%; /* 입력 필드 너비 */
    box-sizing: border-box; /* 패딩 포함 크기 계산 */
  }
  
  .signup-page input:focus {
    border-color: red; /* 포커스 시 테두리 색상 */
    outline: none; /* 기본 포커스 스타일 제거 */
  }
  
  .signup-page button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff; /* 기본 버튼 색상 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 부드러운 색상 전환 */
  }
  
  .signup-page button:hover {
    background-color: #0056b3; /* 호버 시 어두운 색상 */
  }
  
  .signup-page p {
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
  }  