.main-page {
  height: 300vh;
  background-color: #111;
  flex-direction: column;
  text-align: center;
}

.main-header {
position: relative;
top: 0;
left: 0;
width: 100%;
background-color: #000;
padding: 15px 20px;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 3px solid #ddd;
}

.main-header h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.main-header input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #ddd;
  flex-grow: 1;
  margin: 0 20px;
}

.main-logo {
  max-width: 200px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.main-header button {
  right: 100px; /* 우측 여백 */
  padding: 10px 10px;
  font-size: 14px;
  background-color: #d81f26; /* 버튼 색상 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 50px;
}

.main-header button:hover {
  background-color: #a3151d; /* 호버 시 어두운 색상 */
}
