/* 상세 페이지 스타일 */
.movie-detail {
    text-align: center;
    background-color: #121212;
    color: white;
    min-height: 100vh;
  }
  
  .detail-container {
    padding: 40px;
    
    margin-left: 10%;
    background: linear-gradient(to right, rgba(12,12,12,1), rgba(12,12,12,0));
    height: 100vh;
    text-align: left;
  }
  
  .detail-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .detail-container p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  .detail-header span{
    font-size: 16px;
    margin-right: 7px;
    color: lightgray;
    font-weight:bolder
  }
  
  .detail-information{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  }
  
  .detail-overview{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  }
  
  /* 뒤로 가기 버튼 스타일 */
  .back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
  }
  
  .back-button:hover {
    background-color: #777;
  }
  
  .back-button:focus {
    outline: none;
  }

  /* 상세페이지 댓글 더보기 버튼 */
.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more-button:hover {
  background-color: #444;
}